<!--Tiles-->
<div class="panel-group" id="tiles-folders">
    {% for name, folder in local.tiles %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#tiles-folders" href="#folder-{{ loop.key }}">
                    {{ loop.key + "[" + name + "]" }}
                </a>
            </h4>
        </div>
        <div id="folder-{{ loop.key }}" class="panel-collapse collapse "><!-- in -->
            <div class="panel-body">
                {% for tile in folder %}
                <!--TODO: return normal img src-->
                <img src="{{'/' + local.tilesDir + name + '/' + tile}}" class="img-thumbnail"
                     onclick=brush.set("{{ '/' + local.tilesDir + name + '/' + tile }}"); height="32" width="32" alt=""/>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!--controls-->
<!-- Standard button -->
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#new-map-conf">New</button>
<button type="button" class="btn btn-default">Load</button>
<button type="button" class="btn btn-default" onclick="saveMap();">Save</button>

<!-- Modal -->
<div class="modal fade" id="new-map-conf" tabindex="-1" role="dialog" aria-labelledby="new-map-confLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="map-name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="map-name" placeholder="map name">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-body">

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Width</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="map-width" placeholder="w-size">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Height</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="map-height" placeholder="h-size">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Load persets
                                </label>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="createMap();">Create</button>
            </div>
        </div>
    </div>
</div>